[submodule "tensorflow/MIPT-promprog-git-4-tensorflow-contrib"]
	path = tensorflow/MIPT-promprog-git-4-tensorflow-contrib
	url = https://github.com/PeYceBall/MIPT-promprog-git-4-tensorflow-contrib.git
